
## <summary>policy for caps</summary>


########################################
## <summary>
##	Transition to caps.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`caps_domtrans',`
	gen_require(`
		type caps_t, caps_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, caps_exec_t, caps_t)
')


########################################
## <summary>
##	Execute caps server in the caps domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`caps_initrc_domtrans',`
	gen_require(`
		type caps_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, caps_initrc_exec_t)
')


########################################
## <summary>
##	Search caps lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`caps_search_lib',`
	gen_require(`
		type caps_var_lib_t;
	')

	allow $1 caps_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read caps lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`caps_read_lib_files',`
	gen_require(`
		type caps_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, caps_var_lib_t, caps_var_lib_t)
')

########################################
## <summary>
##	Manage caps lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`caps_manage_lib_files',`
	gen_require(`
		type caps_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, caps_var_lib_t, caps_var_lib_t)
')

########################################
## <summary>
##	Manage caps lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`caps_manage_lib_dirs',`
	gen_require(`
		type caps_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, caps_var_lib_t, caps_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a caps environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`caps_admin',`
	gen_require(`
		type caps_t;
		type caps_initrc_exec_t;
		type caps_var_lib_t;
	')

	allow $1 caps_t:process { ptrace signal_perms };
	ps_process_pattern($1, caps_t)

	caps_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 caps_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, caps_var_lib_t)

')

