[Unit]
Description=Caps's distributed currency daemon
After=network.target

[Service]
User=caps
Group=caps

Type=forking
PIDFile=/var/lib/capsd/capsd.pid
ExecStart=/usr/bin/capsd -daemon -pid=/var/lib/capsd/capsd.pid \
-conf=/etc/caps/caps.conf -datadir=/var/lib/capsd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
